{% extends 'base.html' %}
{% block title %}
{{ note.title }}
{% endblock %}
{% block content %}

    <div class="border border-3 rounded-pill">
        <div><h1 class="my-5">{{ note.title }}</h1>
            <div style="white-space: pre-wrap;" class="text-success">{{ note.text|linebreaksbr }}</div>
        </div>
    </div>

<a href="{% url 'notes.list' %}" class="btn btn-secondary my-5">Back</a>
<a href="{% url 'notes.update' pk=note.id %}" class="btn btn-secondary">Edit</a>
<a href="{% url 'notes.delete' pk=note.id %}" class="btn btn-danger">Delete</a>
{% endblock %}